@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
  --background: #FFFFFFFF;
  --foreground: #FF0A0A0A;
  --card: #FFFFFFFF;
  --card-foreground: #FF0A0A0A;
  --popover: #FFFFFFFF;
  --popover-foreground: #FF0A0A0A;
  --primary: #FF1E3A8A;
  --primary-foreground: #FFEFF6FF;
  --secondary: #FFEFF6FF;
  --secondary-foreground: #FF1E3A8A;
  --muted: #FFEFF6FF;
  --muted-foreground: #FF5C6C8C;
  --accent: #FFE0F2FF;
  --accent-foreground: #FF1E3A8A;
  --destructive: #FFEF4444;
  --destructive-foreground: #FFFFFFFF;
  --border: #FFDBEAFE;
  --input: #FFDBEAFE;
  --ring: #FF1E3A8A;
  --chart-1: #FF3B82F6;
  --chart-2: #FF60A5FA;
  --chart-3: #FF2563EB;
  --chart-4: #FF1D4ED8;
  --chart-5: #FF1E40AF;
  --radius: 0.5rem;
  --sidebar-background: #FFEFF6FF;
  --sidebar-foreground: #FF1E293B;
  --sidebar-primary: #FF1E3A8A;
  --sidebar-primary-foreground: #FFFFFFFF;
  --sidebar-accent: #FFE0F2FF;
  --sidebar-accent-foreground: #FF1E3A8A;
  --sidebar-border: #FFBFDBFE;
  --sidebar-ring: #FF60A5FA;
}

.dark {
  --background: #FF0A0A0A;
  --foreground: #FFF4F4F4;
  --card: #FF0A0A0A;
  --card-foreground: #FFF4F4F4;
  --popover: #FF0A0A0A;
  --popover-foreground: #FFF4F4F4;
  --primary: #FF60A5FA;
  --primary-foreground: #FF0A0A0A;
  --secondary: #FF1E293B;
  --secondary-foreground: #FFF4F4F4;
  --muted: #FF1E293B;
  --muted-foreground: #FF94A3B8;
  --accent: #FF1E3A8A;
  --accent-foreground: #FFF4F4F4;
  --destructive: #FF983A3A;
  --destructive-foreground: #FFFAFAFA;
  --border: #FF1E293B;
  --input: #FF1E293B;
  --ring: #FFBFDBFE;
  --chart-1: #FF60A5FA;
  --chart-2: #FF3B82F6;
  --chart-3: #FF1E40AF;
  --chart-4: #FF1D4ED8;
  --chart-5: #FF2563EB;
  --sidebar-background: #FF0F172A;
  --sidebar-foreground: #FFE0F2FF;
  --sidebar-primary: #FF60A5FA;
  --sidebar-primary-foreground: #FFFFFFFF;
  --sidebar-accent: #FF1E3A8A;
  --sidebar-accent-foreground: #FFE0F2FF;
  --sidebar-border: #FF1E3A8A;
  --sidebar-ring: #FF60A5FA;
}
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
